apiVersion: v1
kind: Namespace
metadata:
  labels:
    control-plane: splunk-token-operator-controller
    app.kubernetes.io/name: splunk-token-operator
    app.kubernetes.io/managed-by: kustomize
  name: splunk-token-operator
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller
  namespace: splunk-token-operator
  labels:
    control-plane: splunk-token-operator-controller
    app.kubernetes.io/name: splunk-token-operator
    app.kubernetes.io/managed-by: kustomize
spec:
  selector:
    matchLabels:
      control-plane: splunk-token-operator-controller
      app.kubernetes.io/name: splunk-token-operator
  replicas: 1
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: splunk-token-operator
      labels:
        control-plane: splunk-token-operator-controller
        app.kubernetes.io/name: splunk-token-operator
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                - key: node-role.kubernetes.io/infra
                  operator: Exists
      tolerations:
        - effect: NoSchedule
          key: node-role.kubernetes.io/infra
          operator: Exists
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      containers:
      - command:
        - /manager
        args:
          - --leader-elect
          - --health-probe-bind-address=:8081
        image: controller:latest
        name: splunk-token-operator
        env:
          - name: SPLUNK_API_TOKEN
            valueFrom:
              secretKeyRef:
                name: splunk-api-token
                key: token
        ports: []
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - "ALL"
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        # TODO(user): Configure the resources accordingly based on the project requirements.
        # More info: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/
        resources:
          limits:
            cpu: 500m
            memory: 128Mi
          requests:
            cpu: 10m
            memory: 64Mi
        volumeMounts:
          - name: config
            mountPath: "/etc/splunktoken.d"
            readOnly: true
      volumes:
        - name: config
          configMap:
            name: config
      serviceAccountName: controller-manager
      terminationGracePeriodSeconds: 10
