---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - list
  - watch
- apiGroups:
  - ""
  resourceNames:
  - splunk-hec-token
  resources:
  - secrets
  verbs:
  - delete
  - get
- apiGroups:
  - hive.openshift.io
  resources:
  - clusterdeployments
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - hive.openshift.io
  resources:
  - syncsets
  verbs:
  - create
  - list
  - watch
- apiGroups:
  - hive.openshift.io
  resourceNames:
  - splunk-hec-token
  resources:
  - syncsets
  verbs:
  - delete
  - get
  - patch
  - update
- apiGroups:
  - splunktoken.managed.openshift.io
  resources:
  - splunktokens
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - splunktoken.managed.openshift.io
  resources:
  - splunktokens/finalizers
  verbs:
  - update
- apiGroups:
  - splunktoken.managed.openshift.io
  resources:
  - splunktokens/status
  verbs:
  - get
  - patch
  - update
