---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  name: splunktokens.splunktoken.managed.openshift.io
spec:
  group: splunktoken.managed.openshift.io
  names:
    kind: SplunkToken
    listKind: SplunkTokenList
    plural: splunktokens
    singular: splunktoken
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: SplunkToken is the Schema for the splunktokens API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: SplunkTokenSpec defines the desired state of SplunkToken.
            properties:
              tokenName:
                description: TokenName is the name of the cluster's HTTP Event Collector
                  token on the Splunk instance.
                type: string
            type: object
          status:
            description: SplunkTokenStatus defines the observed state of SplunkToken.
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
