apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: '[]'
    capabilities: Basic Install
  name: splunk-token-operator.v0.0.0
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - description: SplunkToken is the Schema for the splunktokens API.
      displayName: Splunk Token
      kind: SplunkToken
      name: splunktokens.splunktoken.managed.openshift.io
      version: v1alpha1
  description: SplunkTokenOperator manages the lifecycle of Splunk HTTP Event Collector
    tokens for managed OpenShift clusters.
  displayName: splunk-token-operator
  icon:
  - base64data: ""
    mediatype: ""
  install:
    spec:
      deployments: null
    strategy: ""
  installModes:
  - supported: false
    type: OwnNamespace
  - supported: false
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - logging
  - monitoring
  - splunk
  links:
  - name: Splunk Token Operator
    url: https://splunk-token-operator.domain
  maturity: alpha
  provider:
    name: redhat.com
  version: 0.0.0
